body {
    background-color: #F2E5BF;
}

/* HEADER */
.header {
    height: 4rem;
}

/* MAIN */
main {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 260px;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 4rem 0 0;
    width: 260px;
    z-index: 600;
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* FOOTER */
.footer {
    height: 4rem;
}

/* Mobile Responsive Adjustments */
@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        text-align: center;
    }

    main {
        margin-left: 0px;
    }
}